:root {
  --link-color: #5695ff;
}

.app-link {
  text-decoration: none;
  font-weight: bold;
  color: var(--link-color);
  cursor: pointer;
}

.fade-leave-active,
.fade-enter-active {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;

  transition: opacity 1s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.capitalize {
  text-transform: capitalize !important;
}

.v-btn {
  text-transform: capitalize !important;
  font-size: 1rem !important;
}

.version {
  position: absolute;
  bottom: 15px;
  right: 25px;
}

.v-tooltip > .v-overlay__content {
  /* background: var(--v-theme-surface); */
  border-color: rgba(var(--v-border-color), var(--v-border-opacity)) !important;
  border-width: thin !important;
  border-style: solid !important;
  z-index: 99;
  background-color: rgb(var(--v-theme-background)) !important;
  color: var(--v-theme-text) !important;
  font-weight: 500 !important;
}

a {
  color: #5695ff !important;
}

.v-list-item__prepend {
  width: 35px !important;
}

.v-list-item-title {
  font-size: 0.875rem;
}

.v-list-item--density-default.v-list-item--one-line {
  min-height: 40px;
}

.custom-toolbar-title {
  max-width: 17rem !important;
}
.mosha__toast__content-wrapper {
  margin-bottom: -2px;
}
.mosha__toast__slot-wrapper {
  margin-bottom: -2px;
}
.mosha__icon {
  margin-right: 6px !important;
  margin-top: 2px;
}

.mosha__icon__dark__warning {
  fill: #5d5d5d !important;
}

.mosha__icon__light__warning {
  fill: #5d5d5d !important;
}

.mosha__toast__content.dark__warning {
  color: #5d5d5d;
}

.mosha__toast__content.light__warning {
  color: #5d5d5d;
}

.mosha__toast__close-icon.dark__warning::before {
  color: #5d5d5d !important;
}

.mosha__toast__close-icon.light__warning::before {
  color: #5d5d5d !important;
}

.mosha__toast {
  font-size: 14px !important;
  font-weight: 600 !important;
}

.font-14 {
  font-size: 14px !important;
}

.v-breadcrumbs-item--disabled {
  opacity: 1;
}

.v-btn {
  padding: 0rem 0.75rem !important;
}

.v-list-item-title,
.v-label--clickable {
  font-size: 0.875rem !important;
}
